<!DOCTYPE html>

<html>
<head>

<title>first page</title>
</head>
<body>

<h1> Home </h1>
<p>Accesați link-ul dorit:</p> 

<a href="">Pentru accesarea primei pagini dati click aici</a><br><br>
&nbsp
<a href="">Pentru accesarea paginii nr.2 dati click aici</a><br><br>
&nbsp
<a href="">Pentru accesarea paginii nr.3 dati click aici</a><br><br>
&#160
<a href="">Pentru accesarea paginii nr.4 dati click aici</a><br><br>
&#160
<a href="">Pentru accesarea paginii nr.5 dati click aici</a><br><br>
&nbsp





</body>
</html>
