@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #734ae8;
  background-image: linear-gradient(315deg, #734ae8 0%, #89d4cf 74%);


}

.input-group-prepend {
    display: flex;
}

.cursor-pointer {
    cursor: pointer;
}

.contrast-table tr:nth-child(even){
   
        background-color: #734ae8;
        background-image: linear-gradient(315deg, #734ae8 0%, #89d4cf 74%);
        
      }
      
.navbar-brand {
    margin-left: 20px;
}
